{{/*
# SPDX-FileCopyrightText: 2022 Joseph P. De Veaugh-Geiss
# SPDX-FileCopyrightText: 2022 Arwin Neil Baichoo
# SPDX-FileCopyrightText: 2022 Lana Lutz
# SPDX-FileCopyrightText: 2022 Paul Brown
# SPDX-License-Identifier: CC-BY-SA-4.0
*/}}

{{ define "head-import" }}
<link rel="stylesheet" type="text/css" href="https://cdn.kde.org/breeze-icons/icons.css">
{{ end }}

{{ define "main" }}

<main id="home">

  <section style="overflow: hidden;" class="mt-0" id="eco">
    <div class="row">
      <div class="col-lg-6 jumbotron feep mb-0">
        <div class="container p-5  jumbo-card">
          <h2 class="mt-0">{{ i18n "home.feep" }}</h2>
          <p class="ml-auto mr-auto">{{ i18n "home.header.feep.description" }}</p>
          <div><a href="{{ "/#feep" | relLangURL }}" class="btn btn-primary">{{ i18n "home.header.more" }}</a></div>
        </div>
      </div>
      <div class="col-lg-6 jumbotron be4foss">
        <div class="container p-5 jumbo-card">
          <h2 class="mt-0">{{ i18n "home.be4foss" }}</h2>
          <p class="ml-auto mr-auto">{{ i18n "home.header.be4foss.description" }}</p>
          <div><a href="{{ "/#be4foss" | relLangURL }}" class="btn btn-primary">{{ i18n "home.header.more" }}</a></div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row mb-5">
        <div class="col">
          <h1 class="font-weight-bold"> {{ .Title }} - {{ .Description }} </h1>
          <p>{{ i18n "kde-eco-description" }}</p>
          <p>{{ i18n "kde-eco-lets" }}</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row mb-5">
       <div class="col mt-3">
          <a href="https://eco.kde.org/blog/2022-03-16-press-release-okular-blue-angel/">
            <img class="img-fluid" src="/images/okular-main_w_logos_cleantitle.webp" alt="{{ i18n "home.okular" }}" />
          </a>
        </div>
        <div class="col-lg-6">
          <h1 class="font-weight-bold">{{ i18n "home.okular" }}</h1>
          <p>{{ i18n "home.okular.be" }} &nbsp; <a hreflang="{{ .Site.LanguagePrefix }}" href="https://eco.kde.org/{{ .Site.LanguagePrefix }}/blog/2022-03-16-press-release-okular-blue-angel">{{ i18n "home.okular.pr" }}</a> </p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <a href="/get-involved">
            <h2 class="fw-bold">{{ i18n "home.engage" | markdownify }}</h2>
          </a>
          <h3>{{ i18n "home.engage.joinus" }}</h3>
        </div>
        <div class="col mt-4 py-5 text-center">
          <a href="https://mail.kde.org/cgi-bin/mailman/listinfo/energy-efficiency">
            <i class="icon icon_mail-mark-unread home-icon"> </i>
            <h3 class="fw-bold">{{ i18n "home.engage.mailinglist" }}</h3>
          </a>
        </div>
        <div class="col mt-4  py-5 text-center">
          <a href="https://webchat.kde.org/#/room/#energy-efficiency:kde.org">
            <img class="matrix" src="/images/matrix.png" alt="{{ i18n "home.engage.matrix" }}" style="max-width:3em" />
            <h3 class="fw-bold">{{ i18n "home.engage.matrix" }}</h3>
          </a>
        </div>
        <div class="col mt-4 py-5 text-center">
          <a href="https://forum.kde.org/viewforum.php?f=334">
            <i class="icon icon_user-group-properties home-icon"> </i>
            <h3 class="fw-bold">{{ i18n "home.engage.forum" }}</h3>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="feep">
    <div class="container">
      <div class="row">
          <div class="col">
            {{ with .Site.GetPage "/feep" }}
            <h2 class="fw-bold"><b>{{ i18n "home.feep" }}</b></h2>
            <div class="d-sm-block d-lg-none">
              <picture>
                <source srcset="/images/dave-hoefler-UFnHt94r91w-unsplash-mobile-solidfont.webp"
                  media="(prefers-color-scheme: dark)">
                <img class="img-fluid feep-image-mobile" alt="{{ i18n "home.feep.alt" }}"
                  src="/images/dave-hoefler-UFnHt94r91w-unsplash-mobile-solidfont.webp">
              </picture>
            </div>
            <div class="row p-4">
              <div class="col-4 d-none d-lg-block">
                <picture>
                  <source srcset="/images/dave-hoefler-UFnHt94r91w-unsplash-mobile-solidfont.webp"
                    media="(prefers-color-scheme: dark)">
                  <img class="img-fluid feep-image-mobile" alt="{{ i18n "home.feep.alt" }}"
                    src="/images/dave-hoefler-UFnHt94r91w-unsplash-mobile-solidfont.webp">
                </picture>
              </div>
              <div class="col">
                {{ .Content }}
                <div class="py-2">
                  <a href="https://invent.kde.org/teams/eco/feep" class="btn btn-primary">Gitlab</a>
                </div>
              </div>
            </div>
            {{end}}
          </div>
        </div>
    </div>
  </section>

  <section id="be4foss">
    <div class="container">
      <div class="row">
        <div class="col">
          {{ with .Site.GetPage "/be4foss" }}
          <h2 class="fw-bold"><b>{{ i18n "home.be4foss" }}</b></h2>
          <div class="feature">
            <div>
              <p>{{ .Content }}</p>
            </div>
            <div class="img-fluid">
              <picture>
                <source srcset="/images/be-ecolabel.png" media="(prefers-color-scheme: dark)">
                <img alt="{{ i18n "home.be4foss.alt" }}" src="/images/be-ecolabel.png">
              </picture>
            </div>
          </div>
          <div class="container feature">
            <div>
              <h2>{{ i18n "home.help" }}</h2>
              <ul>
                <li>{{ i18n "home.help.one" }}</li>
                <li>{{ i18n "home.help.two" }}</li>
                <li>{{ i18n "home.help.three" }}</li>
                <li>{{ i18n "home.help.four" }}</li>
                <li>{{ i18n "home.help.five" }}</li>
              </ul>
            </div>
            <div>
              <picture class="img-fluid">
                <source srcset="/assets/img/help.webp" media="(prefers-color-scheme: dark)">
                <img alt="{{ i18n "home.help.alt" }}" src="/assets/img/help.webp">
              </picture>
            </div>
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </section>


  <div class="container">
    <div class="feature mt-4">
      <div>
        <h2>{{ i18n "eco.funding" }}</h2>
        <p>{{ i18n "eco.funding.support" | markdownify }}</p>
        <p>{{ i18n "eco.funding.responsible" }}</p>
      </div>
      <div class="img-fluid">
        <p>
          <a href="https://www.umweltbundesamt.de/">
            <picture>
              <source srcset="/assets/img/uba.webp" media="(prefers-color-scheme: dark)">
              <img alt="{{ i18n "home.funding.alt" }}" src="/assets/img/uba.webp">
            </picture>
          </a>
        </p>
        <p>
          <a href="https://www.bmuv.de/">
            <picture>
              <source srcset="/assets/img/bmuv.webp" media="(prefers-color-scheme: dark)">
              <img alt="{{ i18n "home.funding.alt" }}" src="/assets/img/bmuv.webp">
            </picture>
          </a>
        </p>
      </div>
    </div>
  </div>
</main>
{{ end }}
